html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-image: url("./assets/background.jpg") !important;
  background-repeat: no-repeat !important;
  background-size:auto;
  background-position: center;
 background-size:contain;
  background-attachment: fixed;
}
/* .bg-wrapper {
  min-height: 100vh;
  height: 100%; 
  width: 100vw; 
  background-attachment: fixed; 

 
  background-image: url("./assets/background.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
} */
td.cell {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

td.cell:hover {
  opacity: 0.85;
}

.habit-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.color-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.cell{
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s;
}
.cell:hover{
  /* opacity:0.2; */
  transform: scale(1.05);

}
td, th {
  text-align: center;
  vertical-align: middle;
}
.card {
  background-color: rgba(255, 255, 255, 0.9);
}
